apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-flight"
  labels:
    {{- include "flight.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "flight.selectorLabels" . | nindent 4 }}
