name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{secrets.PSCI_REGISTRY_USERNAME}}
          password: ${{secrets.PSCI_REGISTRY_PASSWORD}}

      - name: Docker meta
        id: system
        uses: docker/metadata-action@v3
        with:
          images: |
            zdhamasha/gateway
            zdhamasha/flight
            zdhamasha/bonus
            zdhamasha/ticket
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: cicd/docker
          platforms: linux/amd64,linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.system.outputs.tags }}
          labels: ${{ steps.system.outputs.labels }}

      # - name: Run API Tests
      #   uses: matt-ball/newman-action@master
      #   with:
      #     collection: <variant>/postman/collection.json
      #     environment: <variant>/postman/environment.json
      #     delayRequest: 100
      #     reporters: '[ "cli" ]'

      # - uses: education/autograding@v1
      #   id: autograder
      #   continue-on-error: true

      # - name: Github auto grader mark
      #   uses: Romanow/google-sheet-autograder-marker@v1.0
      #   with:
      #     google_token: ${{secrets.GOOGLE_API_KEY}}
      #     sheet_id: "1xkgjUX6Qmk7rdJG-QPOToav-HWWtthJjnShIKnw3oIY"
      #     homework_number: 4
      #     user_column: 'D'
      #     column_offset: 'F'
      #     mark: "'+"